/* iCheck plugin Square skin, purple
----------------------------------- */
.icheckbox_square-purple, .iradio_square-purple {
	display: inline-block;
	*display: inline;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	background: url(purple.png) no-repeat; border : none;
	cursor: pointer;
	border: none;
}

.icheckbox_square-purple {
	background-position: 0 0;
}

.icheckbox_square-purple.hover {
	background-position: -20px 0;
}

.icheckbox_square-purple.checked {
	background-position: -40px 0;
}

.icheckbox_square-purple.disabled {
	background-position: -60px 0;
	cursor: default;
}

.icheckbox_square-purple.checked.disabled {
	background-position: -80px 0;
}

.iradio_square-purple {
	background-position: -100px 0;
}

.iradio_square-purple.hover {
	background-position: -120px 0;
}

.iradio_square-purple.checked {
	background-position: -140px 0;
}

.iradio_square-purple.disabled {
	background-position: -160px 0;
	cursor: default;
}

.iradio_square-purple.checked.disabled {
	background-position: -180px 0;
}

/* HiDPI support */
@media ( -o-min-device-pixel-ratio : 5/4) , ( -webkit-min-device-pixel-ratio :
		1.25) , ( min-resolution : 120dpi) {
	.icheckbox_square-purple, .iradio_square-purple {
		background-image: url(purple@2x.png);
		-webkit-background-size: 200px 20px;
		background-size: 200px 20px;
	}
}