body {
	margin-bottom: 50px;
}

.header {
	height: 60px;
	background-color: white;
	border-bottom: 1px solid #eee;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 200;
	margin-top: 0px;
	text-transform: uppercase;
}

.header h1 {
	margin-top: 0px;
	padding-top: 5px;
}

.header a {
	color: black;
	letter-spacing: 4px;
	font-size: 17px;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	margin-left: 100px;
}

.children {
	padding-left: 30px;
	border-left: dotted 1px #BBBBBB;
}

#question-container {
	margin-top: 30px;
	width: 600px;
	color: #444444;
}

#questions-panel {
	margin-top: 50px;
	margin: 0 auto;
}

#questions-panel h1 {
	border-bottom: solid 1px #999999;
}

#questions-panel h2 {
	font-size: 22px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

label {
	cursor: pointer;
	margin-left: 10px;
}

ul {
	list-style: none;
	padding-left: 0px;
}

li {
	margin-bottom: 10px;
	cursor: pointer;
}

#back-button {
	margin-top: 20px;
}

#next-button {
	margin-top: 20px;
	margin-left: 13px;
}

.table {
	width: 300px;
}

.table-hover tbody tr:hover>td {
	cursor: pointer
}

tr .highlight {
	background-color: red;
}