body {
	margin-bottom: 50px;
}

.children {
	padding-left: 30px;
	border-left: dotted 1px #BBBBBB;
}

.inline {
	display: inline-block;
    margin-top: 10px;
}

.inline2 {
	display: inline-block;
	margin-left: 10px;
}

#question-container {
	margin-top: 30px;
	width: 600px;
	color: #444444;
}

#questions-panel {
	margin-top: 0px;
	margin: 0 auto;
}

#questions-panel h1 {
	margin-top: 0px;
	border-bottom: solid 1px #999999;
	font-size: 28px;
}

#questions-panel h2 {
	font-size: 14px;
	padding-bottom: 10px;
	margin-bottom: 2px;
	font-weight: 900;
}

#questions-panel .dialog{
	color: #37538c;
	font-size: 20px;
}

#questions-panel td {
	padding: 5px;
}

#questions-panel label {
	font-size: 12px;
	font-weight: 500;
}

label {
	cursor: pointer;
	margin-left: 10px;
}

ul {
	list-style: none;
	padding-left: 0px;
}

li {
	cursor: pointer;
}

#back-button {
	margin-top: 20px;
}

#next-button {
	margin-top: 20px;
	margin-left: 13px;
}

.table {
	width: 300px;
}

.table-hover tbody tr:hover>td {
	cursor: pointer
}

tr .highlight {
	background-color: red;
}